.header{
    background-color: #f7f7f7; 
    margin: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    border-bottom: 1px solid #ded1d1;
    margin-bottom: 10px; 
    height: 18%;
    z-index: 1000;
}
.menu{
    font-size: 16px;
    margin-left: 150px;
    /* border: 1px solid gray; */
}
.menu a{
    padding: 5px;
    border: 1px solid #e6e1df5e;
}

.logo{
    width: 100px;
    position: relative;
    height: auto;
    float: left;
    margin: 0px !important;
    padding: 0px !important;
}
.gal-box{
    float: left;
    width: 10%;
}
hr{
    margin-top: 30px;
}
.section{
    top: 60px;
    position: relative;
    margin-bottom: 90px;
    margin-top: 30px;
}

.footer{
    margin-top: 10px; 
    bottom: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid #ded1d1;
    height: 10%;
    padding: 15px;
}
